{% extends 'app/base.html' %}
{% load static %}

{% block content %}

    {% include 'app/navbar.html' %}

    <section class="section section main">
        <div class="container">
            <!-- Row 1 -->
            <div class="row row-1">
                <div class="col m6 hide-on-small-only">
                    <div class="img-content">
                        <h3>Strizzes</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias animi autem
                            consectetur ducimus, nulla quidem ratione recusandae rerum ut.
                        </p>
                    </div>
                </div>
                <div class="col m6">
                    <div class="card">
                        <div class="card-image">
                            <img src="{% static 'images/gallery/logo1.jpg' %}" alt="">
                            <span class="card-title">
                                Strizzes
                            </span>
                            <a
                                    href="#logo1"
                                    class="btn-floating halfway-fab waves-effect waves-light red modal-trigger">
                                <i class="material-icons">add</i>
                            </a>
                        </div>
                        <div class="card-content">
                            <p>
                                <i class="material-icons">star</i>
                                <i class="material-icons">star</i>
                                <i class="material-icons">star</i>
                                <i class="material-icons">star</i>
                                <i class="material-icons">star</i>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row 2 -->
            <div class="row row-2">
                <div class="col m6">
                    <div class="card">
                        <div class="card-image">
                            <img src="{% static 'images/gallery/logo2.jpg' %}" alt="">
                            <span class="card-title">
                                Unix
                            </span>
                            <a
                                    href="#logo2"
                                    class="btn-floating halfway-fab waves-effect waves-light red modal-trigger">
                                <i class="material-icons">add</i>
                            </a>
                        </div>
                        <div class="card-content">
                            <p>
                                <i class="material-icons">star</i>
                                <i class="material-icons">star</i>
                                <i class="material-icons">star_half</i>
                                <i class="material-icons">star_outline</i>
                                <i class="material-icons">star_outline</i>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col m6 hide-on-small-only">
                    <div class="img-content">
                        <h3>Unix</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias animi autem
                            consectetur ducimus, nulla quidem ratione recusandae rerum ut.
                        </p>
                    </div>
                </div>
            </div>
            <!-- Row 3 -->
            <div class="row row-3">
                <div class="col m6 hide-on-small-only">
                    <div class="img-content">
                        <h3>Hosting</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias animi autem
                            consectetur ducimus, nulla quidem ratione recusandae rerum ut.
                        </p>
                    </div>
                </div>
                <div class="col m6">
                    <div class="card">
                        <div class="card-image">
                            <img src="{% static 'images/gallery/logo3.jpg' %}" alt="">
                            <span class="card-title">
                                Hosting
                            </span>
                            <a href="#logo3" class="btn-floating halfway-fab waves-effect waves-light red modal-trigger">
                                <i class="material-icons">add</i>
                            </a>
                        </div>
                        <div class="card-content">
                            <p>
                                <i class="material-icons">star</i>
                                <i class="material-icons">star</i>
                                <i class="material-icons">star</i>
                                <i class="material-icons">star</i>
                                <i class="material-icons">star_half</i>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Modal 1 -->
    <div id="logo1" class="modal">
        <div class="modal-content">
            <h4>Strizzes</h4>
            <img
                    src="{% static 'images/gallery/logo1.jpg' %}"
                    alt=""
                    class="responsive-img">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae commodi consequatur cupiditate ducimus
                error
                excepturi explicabo porro recusandae voluptas voluptates.
            </p>
        </div>
        <div class="modal-footer">
            <p>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
            </p>
        </div>
    </div>
    <!-- Modal 2 -->
    <div id="logo2" class="modal">
        <div class="modal-content">
            <h4>Unix</h4>
            <img
                    src="{% static 'images/gallery/logo2.jpg' %}"
                    alt=""
                    class="responsive-img">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae commodi consequatur cupiditate ducimus
                error
                excepturi explicabo porro recusandae voluptas voluptates.
            </p>
        </div>
        <div class="modal-footer">
            <p>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star_half</i>
                <i class="material-icons">star_outline</i>
                <i class="material-icons">star_outline</i>
            </p>
        </div>
    </div>
    <!-- Modal 3 -->
    <div id="logo3" class="modal">
        <div class="modal-content">
            <h4>Hosting</h4>
            <img
                    src="{% static 'images/gallery/logo3.jpg' %}"
                    alt=""
                    class="responsive-img">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae commodi consequatur cupiditate ducimus
                error
                excepturi explicabo porro recusandae voluptas voluptates.
            </p>
        </div>
        <div class="modal-footer">
            <p>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star_half</i>
            </p>
        </div>
    </div>

    {% include 'app/footer.html' %}

{% endblock %}
